/* styles.css */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 600px; /* Adjust based on your preference */
  margin: auto;
}

.card {
  background-color: #ffffff; /* Different background color */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Shadow effect */
}

.card-body {
  padding: 20px;
}

#graph-container {
  width: 100%;
  height: 600px; /* Adjust as needed */
  /* Centering the canvas */
  display: flex;
  justify-content: center;
}

/* Additional styles for buttons and inputs if needed */
.btn-info {
  margin-bottom: 10px; /* Spacing below the button */
}

.form-select, .form-control {
  margin-bottom: 10px; /* Spacing below the select and input fields */
}
